#game-board {
    width: 200px; /* or any other size */
    height: 200px; /* or any other size */
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: green;
}