#game-board {
    width: 400px; /* or any other size */
    height: 400px; /* or any other size */
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 5px;
}

body {
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em; /* Verander de tekstgrootte */
    font-weight: bold; /* Maak de tekst dikgedrukt */
    margin-bottom: 0;
}

h2 {
    margin-top:0;
}

.dot {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
}

.obstacle {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: grey;
}

.food {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
}

#game-over {
    position: absolute;
    bottom: calc(50% + 200px); /* 50% is de helft van de body, 200px is de helft van de hoogte van het game-board */
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: red;
    display: none;
}

#score {
    position: absolute;
    top: calc(50% + 200px); /* 50% is de helft van de body, 200px is de helft van de hoogte van het game-board */
    right: calc(50% - 200px); /* 50% is de helft van de body, 50px is de helft van de breedte van het game-board */
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 10px;
}